# --- Modules & Dependencies ---
node_modules/
Modules/*
!Modules/Native/

# --- Build & Distribution ---
dist/
build/
out/
release/
*.AppImage
*.exe
*.dmg
*.zip
*.7z
*.rar
*.tar.gz

# --- Electron/Builder Specifics ---
.cache/
.eslintcache
app-builder-bin/
builder-effective-config.yaml

# --- Security & Sensitive Data ---
# Sertifika dosyalarını asla paylaşma
wse2-cert.pfx
*.pfx
*.pem
*.key
*.cert
cert_base64.txt
# Gizli ayarlar
.env
*.env
build_win.sh

# --- Logs ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Temp & Backup Files ---
*.tmp
*.bak
*.bak*
*.old
*.swp
*.swo
.diff
.patch

# --- OS System Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE / Editor Files ---
.vscode/
.idea/
*.sln
*.suo
*.user
*.sublime-project
*.sublime-workspace

# --- Binary / Compiled Artifacts ---
*.pdb
*.obj
*.dll
*.so
*.dylib
*.bin